<launch>

  <param name="use_sim_time" value="true" />

  <!-- Play a rosbag recording of the relevant topics -->
  <arg name="bagfile" default="$(find pcl_pipeline_utils)/bags/test_01.bag" />
  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -l $(arg bagfile)" />

  <!-- Alias the point cloud -->
  <node name="alias" pkg="topic_tools" type="drop"
    args="/jaco_kinect2/sd/points 0 1 /pcl_stream" />

  <!-- Launch rviz -->
  <include file="$(find rdl_jaco_kinect2)/launch/rviz.launch" />
  
  <!-- Launch RosBridge -->
  <arg name="port" default="9090" />
  <arg name="host" default="" />
  <arg name="bson_only_mode" default="true" />
  <arg name="use_websocket" default="false" />
  <include file="$(find pcl_pipeline_utils)/launch/rosbridge.launch" >
    <arg name="port" value="$(arg port)" />
    <arg name="host" value="$(arg host)" />
    <arg name="bson_only_mode" value="$(arg bson_only_mode)" />
    <arg name="use_websocket" value="$(arg use_websocket)" />
  </include>

</launch>