<launch>

  <!-- Launch file that runs a real kinect driver -->

  <!-- Launch kinect driver -->
  <include file="$(find rdl_jaco_kinect2)/launch/driver.launch" />

  <!-- Alias the point cloud -->
  <node name="alias" pkg="vrteleop" type="forwarder" unless="$(arg no_gpu)"
    args="/jaco_kinect2/sd/points /vrt/fromrobot/pcl/kinect_stream" />

</launch>