<launch>

  <!-- Launch file that creates a Kinect stub by playing a bagfile -->

  <!-- If we are playing a bagfile, make sure we're using simulator time, not real time -->
  <param name="use_sim_time" value="true" />

  <!-- Arg to indicate if we're running on a non-gpu PC -->
  <arg name="crop_cloud" default="false" />

  <!-- Bagfile to play -->
  <arg name="bagfile" default="$(find vrteleop)/bags/test_01.bag" />

  <!-- Play a rosbag recording of the relevant topics -->
  <node pkg="rosbag" type="play" name="rosbag_player" output="screen"
    args="--clock --loop --quiet --rate=0.5 $(arg bagfile)" />

  <group if="$(arg crop_cloud)">

    <!-- VoxelGrid filters for viewing on my crappy laptop with no GPU -->
    <node pkg="nodelet" type="nodelet" name="debug_decimation"
      args="standalone pcl/VoxelGrid" output="screen">
      <remap from="~input" to="/jaco_kinect2/sd/points" />

      <param name="filter_field_name" type="string" value="x" />
      <param name="filter_limit_min" type="double" value="-0.2" />
      <param name="filter_limit_max" type="double" value="0.2" />
      <param name="filter_limit_negative" type="bool" value="false" />

      <remap from="~output" to="/vrt/fromrobot/pcl/_horizontalcropped" />
    </node>

    <!-- VoxelGrid filters for viewing on my crappy laptop with no GPU -->
    <node pkg="nodelet" type="nodelet" name="debug_decimation_2" args="standalone pcl/VoxelGrid" output="screen">
      <remap from="~input" to="/vrt/fromrobot/pcl/_horizontalcropped" />

      <param name="filter_field_name" type="string" value="y" />
      <param name="filter_limit_min" type="double" value="-0.2" />
      <param name="filter_limit_max" type="double" value="0.2" />
      <param name="filter_limit_negative" type="bool" value="false" />

      <remap from="~output" to="/vrt/fromrobot/pcl/kinect_stream" />
    </node>

  </group>

  <group unless="$(arg crop_cloud)">

    <!-- Alias the point cloud -->
    <node name="alias_bagoutput" pkg="vrteleop" type="forwarder.py" unless="$(arg crop_cloud)"
      args="/jaco_kinect2/sd/points /vrt/fromrobot/pcl/kinect_stream" />

  </group>

</launch>