<launch>

  <!-- Launch file to run on the a fake (stub) robot -->
  <!-- (i.e. a laptop like Delight) -->

  <!--
    If true, we crop the Point Cloud to a small window
    (useful for running on laptops without a GPU)
  -->
  <arg name="crop_cloud" default="false" />

  <!-- Launch the fake kinect driver -->
  <include file="$(find vrteleop)/launch/kinect-stub.launch" >
    <arg name="crop_cloud" value="$(arg crop_cloud)" />
  </include>

  <!-- Launch the pre-processing pipeline -->
  <arg name="input" default="/vrt/fromrobot/pcl/kinect_stream" />
  <include file="$(find vrteleop)/launch/pcl-preprocessing.launch" >
    <arg name="input" value="$(arg input)" />
  </include>

  <!-- Launch the vizualisation programs -->
  <include file="$(find vrteleop)/launch/vizualisation.launch" />
  
</launch>

