<launch>

  <!-- Launch file to run on the a real MOVO robot -->
  <!-- (i.e. MOVO2 onboard PC) -->

  <!-- Launch the real kinect driver -->
  <!-- TODO change to actual Kinnova driver -->
  <include file="$(find vrteleop)/launch/kinect-real.launch" />

  <!-- Launch the pre-processing pipeline -->
  <arg name="input" default="/vrt/fromrobot/pcl/kinect_stream" />
  <include file="$(find vrteleop)/launch/pcl-preprocessing.launch" >
    <arg name="input" value="$(arg input)" />
  </include>

</launch>

